.gradient-text {
    /* Create a linear gradient */
    background: linear-gradient(to right, lightcoral, black);
    /* Set background clip to text so gradient applies to text only */
    -webkit-background-clip: text;
    background-clip: text;
    /* Use transparent as fallback color for browsers that don't support background-clip */
    color: transparent;
    text-transform: uppercase;
    /* Add any other text styles as needed */
}

.card-body p {
    /* Add your styles here */
    color: #333; /* Example color */
    font-size: 16px; /* Example font size */
    text-transform: uppercase;
}