.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .uploaded-image {
    max-width: 100%;
    max-height: 80vh; /* Adjust the maximum height as needed */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  