/* Match.css */

/* Styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

th {
  background-color: #f2f2f2;
}

/* Styles for alternating table rows */
tr:nth-child(even) {
  background-color: gray; /* Alternate row color */
}

/* Hover effect for table rows */
tr:hover {
  background-color: lightgrey;
}

/* Styles for table cell buttons */
td button {
  padding: 2%;
  text-transform: uppercase;
}

/* Styles for accept button */
.accept {
  background-color: lightgreen;
  color: white;
}

.accept:hover {
  background-image: linear-gradient(to right, #4caf50, #008cba); /* Gradient color */
}

/* Styles for reject button */
.reject {
  background-color: red;
  color: white;
}

.reject:hover {
  background-image: linear-gradient(to right, #000, red); /* Gradient color */
}

/* Styles for error message */
.error-message {
  color: red;
  border: 2px solid #000;
  padding: 1%;
  margin: 1%;
}
