/* Myprofile.css */

.userimage {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0; /* You can set any desired background color */

    border-style: solid;

    /* Gradient border color */
    border-image: linear-gradient(to right, black, red);
    border-image-slice: 1;
   
  }

  .gradient-text {
    /* Create a linear gradient */
    background: linear-gradient(to right, lightcoral, black);
    /* Set background clip to text so gradient applies to text only */
    -webkit-background-clip: text;
    background-clip: text;
    /* Use transparent as fallback color for browsers that don't support background-clip */
    color: transparent;
    text-transform: uppercase;
    /* Add any other text styles as needed */
}

.gradient-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, #ff8a00, #e52e71);
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  
}

.gradient-button:hover {
  background: linear-gradient(to right, #e52e71, #ff8a00);
}

/* Style for all input fields */
input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; /* Remove default focus outline */
  transition: border-color 0.3s ease;
}

/* Style for focused input fields */
input:focus {
  border-color: #007bff; /* Change border color on focus */
}

/* Style for disabled input fields */
input:disabled {
  background-color: #f8f9fa; /* Change background color for disabled inputs */
  cursor: not-allowed; /* Change cursor style for disabled inputs */
}
