/* PhoneSignUp.css */

/* Center the form vertically and horizontally */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Style the form and its elements */
.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h3{
  font-size: 1.5rem;
}

.form-group {
  margin-bottom: 15px;
}

.text-danger {
  color: red;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-link {
  text-decoration: none;
}
