.my_navbar{
    max-width: 100%;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
  }

  .logo {
    text-transform: uppercase;
    color: aliceblue;
    font-weight: bold;
    font-size: larger;
    padding: 2px;
    border-radius: 5px;
  
    /* Glowing Animation */
    animation: glow 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
  }


/* Navbar.css */

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    text-transform: uppercase;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff; /* Set your desired link color */
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #2c3e50; /* Set your desired link hover background color */
    color: #ffffff; /* Set your desired link hover color */
  }
  